<div>
    <h1>{{ $t('app.currency.list.title') }}</h1>
    <table class="ui celled table">
        <thead>
        <tr>
            <th class="center aligned">{{ $t('app.currency.list.code') }}</th>
            <th class="center aligned">{{ $t('app.currency.list.name') }}</th>
            <th class="center aligned">{{ $t('app.currency.list.symbol') }}</th>
        </tr>
        </thead>

        <tbody>
        <tr v-for="item in items">
            <td class="center aligned">{{ item.id || '-' }}</td>
            <td class="center aligned">{{ item.currencyName || '-' }}</td>
            <td class="center aligned">{{ item.currencySymbol || '-' }}</td>
        </tr>
        </tbody>
    </table>
</div>
